@model ProyectoV1.Models.nace_muerto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Añade el animal que nace Muerto</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

        <div class="contac form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.parto_id, "Parto", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-4">
                    @Html.DropDownList("parto_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.parto_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.raza_id, "Raza", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-4">
                    @Html.DropDownList("raza_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.raza_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tipo_id, "Tipo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-4">
                    @Html.DropDownList("tipo_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tipo_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary glyphicon glyphicon-plus"> Añadir</button>
                    @Html.ActionLink(" Ver Muertos al Nacer", "Index", " ", htmlAttributes: new { @class = "btn btn-success glyphicon glyphicon-eye-open" })

                </div>
            </div>
        </div>

    
}
