@model IEnumerable<ProyectoV1.Models.usuario>

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Administrador.cshtml";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear Nuevo Usuario", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.rut)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.rut)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>