@model ProyectoV1.Models.secamiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Template.cshtml";
}
<h2>Detalles del Secamiento</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Tetas Secadas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_ubres)
        </dd>

        <dt>
            Animal
            @*@Html.DisplayNameFor(model => model.animal.codigo_sag)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animal.codigo_sag)
        </dd>

        <dt>
            Medicamento
            @*@Html.DisplayNameFor(model => model.medicamento.nombre)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicamento.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Editar", "Edit", new { id = Model.id }, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
    @Html.ActionLink(" Volver al Inicio", "Index", " ", htmlAttributes: new { @class = "btn btn-success glyphicon glyphicon-arrow-left" })
</p>
