@model ProyectoV1.Models.tratamiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Detalles del Tratamiento</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        
        <dt>
            Tratador
            @*@Html.DisplayNameFor(model => model.tratador.nombre)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tratador.nombre)
        </dd>
        <dt>
            Tipo de Tratamiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_tratamiento.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Editar", "Edit", new { id = Model.id }, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
    @Html.ActionLink(" Volver al Inicio", "Index", " ", htmlAttributes: new { @class = "btn btn-success glyphicon glyphicon-arrow-left" })
</p>
